<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <h1>NIVEL</h1>
    <span>1</span>
    <%- include("./partials/nivel.ejs") %> <span>100</span>
        <span>
            <h2>Nivel developer</h2>
        </span>

</body>

</html>